[run]
branch = 1
omit =
    web_payments_paydirekt/test_*.py
    web_payments_paydirekt/*/test_*.py
source = web_payments_paydirekt

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    return NotImplemented
